@import '../../scss/variables';

.auction {
    display: flex;
    flex-direction: column;

    margin: 0 33px;

    h2 {
        margin-top: 18px;
        margin-bottom: 24px;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin: 12px 22px 16px 0;

        h1 {
            font-family: $heading-font;
            font-size: 32px;
            line-height: 50px;
        }
    }

    article {
        background: linear-gradient(
            65.58deg,
            rgba(0, 66, 255, 0.5) -11.84%,
            rgba(235, 0, 27, 0.5) 98.75%
        );
        border-radius: 8px;

        padding-left: 420px;
        position: relative;

        width: 782px;
        height: 402px;

        .auctionItem {
            position: absolute;
            bottom: -33px;
            left: -29px;
            min-width: 500px;
            width: 64%;
        }

        .heading {
            font-family: $heading-font;
            font-weight: 600;
            font-size: 24px;
            line-height: 38px;
            margin-top: 20px;
            margin-bottom: 24px;
        }

        .user {
            display: flex;

            align-items: center;

            margin-bottom: 28px;

            img {
                margin-right: 20px;
            }

            .userInfo {
                font-family: $heading-font;
                font-size: 14px;
                line-height: 21px;

                small {
                    font-family: $main-font;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 15px;
                    color: rgba(255, 255, 255, 0.7);
                }
            }
        }

        .info {
            display: flex;
            align-items: center;

            .price {
                margin-right: 22px;
            }

            p {
                font-family: $main-font;
                font-weight: 400;
                font-size: 14px;
                line-height: 15px;
            }

            h2 {
                font-family: $heading-font;
                font-size: 24px;
                line-height: 31px;
            }
        }

        .buttons {
            margin-top: 90px;

            button{
                width: 159px;
                height: 50px;
                border-radius: 8px;

                font-family: $heading-font;
                line-height: 25px;
            }

            .showRewards {
                background: rgba(255, 255, 255, 0.75);
                color: $black;
                border:none;
                margin-right: 16px;
            }

            .showCollection {
                background-color: transparent;
                color: $white;
                border-color: $white;
            }
        }
    }
}
