@import '../../scss/variables';

.featuredNft {
    margin-top: 35px;
    margin-left: 33px;

    display: flex;
    flex-direction: column;

    width: 782px;

    header {
        margin-bottom: 24px;

        display: flex;
        align-items: center;
        justify-content: space-between;

        h2 {
            font-family: $heading-font;
            font-size: 22px;
            line-height: 35px;
        }

        .sort {

            display: flex;
            align-items: center;

            .dropdown {
                padding: 7px 54px 7px 24px;

                flex-shrink: 0;

                width: 140px;
                height: 36px;

                font-family: $heading-font;
                font-size: 13px;
                line-height: 21px;

                background: rgba(162, 163, 164, 0.18);
                border-radius: 8px;

                position: relative;
                margin-right: 12px;

                .dropdownIcon {
                    width: 10px;
                    height: 10px;
                    border-bottom: 2px solid $white;
                    border-right: 2px solid $white;

                    position: absolute;
                    right: 15px;
                    top: 10px;

                    transform: rotate(45deg);
                }
            }

            .prev {
                display: block;
                padding: 12px;
                width: 36px;
                height: 36px;
                border-radius: 12px;
                border: 1px solid rgba(149, 151, 153, 0.5);
                position: relative;
                margin-right: 12px;

                span{
                    width: 10px;
                    height: 10px;
                    border-right: 2px solid rgba(149, 151, 153, 0.5);
                    border-bottom: 2px solid rgba(149, 151, 153, 0.5);
                    transform: rotate(135deg);
                    position: absolute;
                    left: 14px;
                    top: 12px;
                }
            }

            .next {
                display: block;
                padding: 12px;
                width: 36px;
                height: 36px;

                background: rgba(255, 255, 255, 0.18);
                border-radius: 12px;
                position: relative;

                span{
                    width: 10px;
                    height: 10px;
                    border-right: 2px solid $white;
                    border-bottom: 2px solid $white;
                    transform: rotate(-45deg);
                    position: absolute;
                    left: 12px;
                    top: 13px;
                }
            }
        }
    }

    .nfts{
        display: flex;
    }
}
