@import '../../scss/variables';

.navbar {
    min-height: 100vh;
    height: 100%;
    min-width: 256px;

    background-color: $background;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 115px;

    border-right: $border 1px solid;

    .pills {
        width: 220px;

        border-bottom: 1px solid $gray;

        padding-bottom: 16px;
    }

    .coins {
        color: $gray;

        padding-top: 28px;

        width: 220px;

        border-bottom: 1px solid $gray;

        padding-bottom: 16px;

        .addWallet {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            width: 220px;
            height: 36px;

            padding-left: 10px;
            padding-right: 10px;

            padding-bottom: 24px;

            .addBtn {
                width: 36px;
                height: 36px;
                background: #3f444e;
                border-radius: 10px;
                border:none;

                color: $white;
                font-size: 30px;

                font-weight: 500;

                font-family: $heading-font;

                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 14px;
            }

            .dropdown {
                width:12px;
                height: 12px;
                border-bottom: 2px solid $white;
                border-right: 2px solid $white;

                position: relative;
                top:-2px;

                margin-right: 0;
                margin-left: auto;

                transform: rotate(45deg);
            }
        }
    }

    .darkSwitch{
        position: relative;

        width: 220px;
        height: 56px;
        border-radius: 16.6406px;

        color: $gray;

        font-weight: 400;
        font-size: 16px;
        line-height: 21px;

        font-family: $main-font;

        display: flex;

        align-items: center;

        padding-left: 60px;

        img{
            margin-right: 24px;
            position: absolute;
            top:16px;
            left: 20px;
        }

        .switch{
            width: 36px;
            height: 16px;
            background: #6E6BFF;
            box-shadow: inset 0px 0px 5.54688px rgba(0, 0, 0, 0.4);
            border-radius: 14px;

            margin-left: auto;
            margin-right: 15px;

            position: relative;

            .ball{
                background-color: $white;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                position:absolute;
                transform: translateY(30%) translateX(5px);

                transition: transform 0.1s ease-in-out;
            }
        }

        .active{
            .ball{
                transform: translateY(30%) translateX(20px);
            }
        }
    }
}
