@import '../../scss/variables';

.wrapper {
    width: 244px;
    height: 385px;
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(
        65.58deg,
        rgba(0, 66, 255, 0.5) -11.84%,
        rgba(235, 0, 27, 0.5) 98.75%
    );
    border-radius: 8px;

    margin-right: 25px;
    flex: 0 0 auto;
}

.card {
    width: 242px;
    height: 383px;
    background: #000000;
    border-radius: 8px;

    padding: 30px 24px;

    display: flex;
    flex-direction: column;

    .nftImg {
        align-self: center;
    }

    .heading {
        font-family: $heading-font;
        font-size: 18px;
        line-height: 28px;

        color: white;

        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-top: 18px;
        margin-bottom: 14px;
    }

    .user {
        font-family: $main-font;
        font-size: 12px;

        display: flex;
        align-items: center;

        color: rgba(255, 255, 255, 0.8);

        display: flex;
        align-items: center;
        flex-direction: row;

        margin-bottom: 14px;

        img {
            margin-right: 8px;
        }
    }

    .price {
        font-family: $main-font;
        font-size: 14px;
        line-height: 18px;

        display: flex;
        align-items: center;
        justify-content: space-between;

        margin-bottom: 22px;

        span {
            color: rgba(255, 255, 255, 0.4);
        }
    }

    button {
        width: 188px;
        height: 41px;

        flex: 0 0 auto;

        background: linear-gradient(
            65.58deg,
            rgba(0, 66, 255, 0.5) -11.84%,
            rgba(235, 0, 27, 0.5) 98.75%
        );
        border-radius: 8px;

        font-family: $heading-font;
        font-size: 16px;
        line-height: 25px;
        color: $white;
    }
}
