@import '../../scss/variables';

.pill{
    position: relative;

    width: 220px;
    height: 56px;
    border-radius: 16.6406px;

    color: $gray;

    font-weight: 400;
    font-size: 16px;
    line-height: 21px;

    font-family: $main-font;

    display: flex;
    align-items: center;

    padding-left: 60px;

    img{
        margin-right: 24px;
        position: absolute;
        top:16px;
        left: 20px;
    }
}

.active {
    background: linear-gradient(65.58deg, rgba(0, 66, 255, 0.5) -11.84%, rgba(235, 0, 27, 0.5) 98.75%);

    color: $white;
    font-weight: 600;
}